<launch>
  <node pkg="manipulator_teleop" type="test_traject" name="test_traject"
        output="screen">
    <rosparam>
      rate: 10
    </rosparam>
  </node>
  <node pkg="manipulator_teleop" type="moveit_interface"
        name="moveit_interface" output="screen">
    <rosparam>
      rate: 10
    </rosparam>
  </node>
</launch>
